h1{color:white; font-family:comic sans ms; background-color:rgb(178,129,142);}
h2{color:rgb (178,129,142);}
p{background-color:rgb(178,129,142); color:white;}
table{background-color:rgb(178,129,142); color:white;}
ul{backcolor-color:rgb(178,129,142); color:black;}
form{background-color:rgb(178,129,142); color:white;}